<h1>Recommendations!</h1>

<%= link_to 'Make a new recommendation', new_recommendation_path(session['user_id']) %>
<%= link_to 'Public recommendations', public_recommendations_path(session['user_id']) %>

<h2>RECOMMENDATIONS RECEIVED</h2>
<div>
	<table>
		<thead>
		<tr>
			<th>FROM</th>
			<th>SOCIAL MEDIA</th>
			<th>HANDLE</th>
			<th>TAGS</th>
			<th colspan="4"></th>
		</tr>
		</thead>

		<tbody>
		<% @recommendations.where(is_public: false, user_id_to:session['user_id']).each do |rec| %>
			<tr>
				<td><%= rec.user.email %></td>
				<td><%= rec.social_media %></td>
				<td>@<%= rec.handle %></td>
				<td><%= link_to 'View', rec %>
						<%= link_to 'Delete', rec, method: :delete, data: {confirm: 'Are you sure?'} %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>

<h2>RECOMMENDATIONS SENT</h2>
	<div>
		<table>
			<thead>
			<tr>
				<th>TO</th>
				<th>SOCIAL MEDIA</th>
				<th>HANDLE</th>
				<th>TAGS</th>
				<th colspan="4"></th>
			</tr>
			</thead>

			<tbody>
			<% @recommendations.where(is_public: false, user_id:session['user_id']).each do |rec| %>
				<tr>
					<td><%= User.find(rec.user_id_to).email %></td>
					<td><%= rec.social_media %></td>
					<td>@<%= rec.handle %></td>
					<td><%= link_to 'View', rec %>
							<%= link_to 'Delete', rec, method: :delete, data: {confirm: "Are you sure?"} %>
							<%= link_to 'Edit', edit_recommendation_path(rec) %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
