<input type="hidden" id="SessionValue" value="<%= session['user_id'] %>">
<div style="margin:0 auto; width:60%; border:4px double black; padding:2%; border-radius:10px">
	<h1>Recommendations!</h1>

	<%= link_to 'Make a new recommendation', new_recommendation_path(session['user_id']) %><br>
	<%= link_to 'Public recommendations', public_recommendations_path(session['user_id']) %><br>
	<%= link_to 'Log out', sessions_path, method: :delete %>

	<h2 class="actions-for-current-user">RECOMMENDATIONS RECEIVED</h2>
	<div class="actions-for-current-user">
		<table>
			<thead>
			<tr>
				<th>FROM</th>
				<th>SOCIAL MEDIA</th>
				<th>HANDLE</th>
				<th>TAGS</th>
				<th colspan="4"></th>
			</tr>
			</thead>

			<tbody>
			<% @recommendations.where(is_public: false, user_id_to:session['user_id']).each do |rec| %>
				<tr>
					<td><%= rec.user.email %></td>
					<td><%= rec.social_media %></td>
					<td>@<%= rec.handle %></td>
					<td><%= link_to 'View', rec %>
							<%= link_to 'Delete', rec, method: :delete, data: {confirm: 'Are you sure?'} %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>

	<h2 class="actions-for-current-user">RECOMMENDATIONS SENT</h2>
		<div class="actions-for-current-user">
			<table>
				<thead>
				<tr>
					<th>TO</th>
					<th>SOCIAL MEDIA</th>
					<th>HANDLE</th>
					<th>TAGS</th>
					<th colspan="4"></th>
				</tr>
				</thead>

				<tbody>
				<% @recommendations.where(is_public: false, user_id:session['user_id']).where.not(user_id_to:nil).each do |rec| %>
					<tr>
						<td><%= rec.user_id_to %></td>
						<td><%= rec.social_media %></td>
						<td>@<%= rec.handle %></td>
						<td><%= link_to 'View', rec %>
								<%= link_to 'Delete', rec, method: :delete, data: {confirm: 'Are you sure?'} %>
								<%= link_to 'Edit', edit_recommendation_path(rec) %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
</div>