<div class="row">
	<div class="col-md-12 text-center"><h1 class="heading">Make a new recommendation!</h1></div>
</div>

<% if @recommendation.errors.any? %>
	<div id="error-explanation">
		Try again, dum dum!<br>
		<% @recommendation.errors.full_messages.each do |msg| %>
			<%= msg %><br>
		<% end %>
	</div>
<% end %>

<div>
	<%= form_for @recommendation do |f| %>
		<%= f.collection_select :user_id, User.all, :id, :email, include_blank: 'User' %><br>

		First choose TWITTER or INSTAGRAM: <br>
			<%= f.radio_button(:social_media, 'twitter') %>
			<%= f.label(:social_media, 'Twitter') %>
			<%= f.radio_button(:social_media, 'instagram') %>
			<%= f.label(:social_media, 'Instagram') %><br><br>
		Now enter the handle you want to recommend:<br>
			@<%= f.text_field :handle %><br><br>

		Public? <%= f.check_box :is_public %><br>
		If it's a private recommendation, to whom do you want to send it?<br>
			<%= f.collection_select :user_id_to, User.all, :id, :email, include_blank: '' %><br><br>

		Add some tags!
			Blog <%= f.check_box :is_blog %>
			Fashion <%= f.check_box :is_fashion %>
			Film <%= f.check_box :is_film %>
			Food <%= f.check_box :is_food %>
			Funny <%= f.check_box :is_funny %>
			Music <%= f.check_box :is_music %>
			News <%= f.check_box :is_news %>
			Sports <%= f.check_box :is_sports %>
			TV <%= f.check_box :is_tv %>
		<br><br>


		<%= f.submit %>
	<% end %>

	<%= link_to 'Cancel', user_path(session['user_id']) %>
</div>

