<div class="row">
	<div class="col-md-12 text-center"><h1 class="heading">Make a new recommendation!</h1></div>
</div>

<% if @recommendation.errors.any? %>
	<div id="error-explanation">
		Try again, dum dum!<br>
		<% @recommendation.errors.full_messages.each do |msg| %>
			<%= msg %><br>
		<% end %>
	</div>
<% end %>

<div>
	<%= form_for @recommendation do |f| %>
		<%= f.collection_select :user_id, User.all, :id, :name, include_blank: 'User' %><br>

		First choose TWITTER or INSTAGRAM: <br>
			<%= f.radio_button_tag(:social_media, 'twitter') %>
			<%= label_tag('Twitter') %>
			<%= f.radio_button_tag(:social_media, 'instagram') %>
			<%= label_tag('Instagram') %><br><br>
		Now enter the handle you want to recommend:<br>
			@<%= f.text_field :handle %><br>

		<%= f.check_box :is_public %>
		<%= f.collection_select :user_id_to, User.all, :id, :name, include_blank: '' %><br>

		<%= f.submit %>
	<% end %>

	<%= link_to 'I\'m already a user!', new_sessions_path %>
</div>

