<h1>'s Recommendations!</h1>

<h2>RECOMMENDATIONS</h2>
<div>
	<table>
		<thead>
		<tr>
			<!--<th>FROM</th>-->
			<th>SOCIAL MEDIA</th>
			<th>HANDLE</th>
			<th>TAGS</th>
			<th colspan="3"></th>
		</tr>
		</thead>

		<tbody>
		<% @recommendations_public.each do |rec| %>
			<tr>
				<td><%#= rec.user_first_name %></td>
				<td><%= rec.social_media %></td>
				<td>@<%= rec.handle %></td>
				<td><%= link_to 'View', rec %>
					<%= link_to 'Delete', rec, method: :delete, data: {confirm: "Are you sure?"} %>
					<%= link_to 'Edit', edit_recommendation_path(rec) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>

<div>
	<%#= link_to 'Private Recommendations', recommendations_path(user_id: @user.id) %>
</div>
