<h1><%= @user.email %>'s Recommendations!</h1>

<%= link_to 'User page', recommendations_path %>

<h2>RECOMMENDATIONS</h2>
<div>
	<table>
		<thead>
		<tr>
			<!--<th>FROM</th>-->
			<th>SOCIAL MEDIA</th>
			<th>HANDLE</th>
			<th>TAGS</th>
			<th>ACTIONS</th>
			<th colspan="4"></th>
		</tr>
		</thead>

		<tbody>
		<% @recommendations.where(is_public:true, user_id:session['user_id']).each do |rec| %>
			<tr>
				<td><%= rec.user.first_name %></td>
				<td><%= rec.social_media %></td>
				<td>@<%= rec.handle %></td>
				<td></td>
				<td><%= link_to 'View', rec %>
						<%= link_to 'Delete', rec, method: :delete, data: {confirm: "Are you sure?"} %>
						<%= link_to 'Edit', edit_recommendation_path(rec) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>