<div style="margin:0 auto; width:60%; border:4px double black; padding:2%; border-radius:10px">
	<div>
		<h1>@<%= @recommendation.handle %></h1>
		<h3>Sent to <%= @recommendation.user_id_to %> from <%= @recommendation.user.email %></h3>
	</div>

	<%= link_to 'User page', recommendations_path %><br>
	<%= link_to 'Public recommendations', public_recommendations_path(session['user_id']) %>
</div>